<div class=" adwrap wrapper">
  <div class="ad">
    <script type="text/javascript">
      cmClient = 'jwarner3412';
      cmChannel = 'Mobile Hook';
      cmWidth = 300;
      cmHeight = 250;
    </script>
    <script type='text/javascript' src='http://tags.chitika.net/oneliners/hook/beta.js'></script>
  </div>
  <div class="ad">
    <!-- Begin BidVertiser code -->
    <SCRIPT SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=719128&bid=1784823" TYPE="text/javascript"></SCRIPT>
    <!-- End BidVertiser code -->
  </div>

<div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- kerbility1 -->
  <ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-8432444804085330"
  data-ad-slot="6832466209"
  data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
