<div class=" adwrap wrapper">
  <div class="ad">
    <iframe src="http://yx-ads6.com/banner_show.php?section=General&amp;pub=532544&amp;format=300x50&amp;ga=g" frameborder="0" scrolling="no" width="100%" height="50" marginwidth="0" marginheight="0"></iframe>
  </div>
  
  <div class="ad">
    <iframe src="http://yx-ads6.com/banner_show.php?section=General&amp;pub=532544&amp;format=300x50&amp;ga=g" frameborder="0" scrolling="no" width="100%" height="50" marginwidth="0" marginheight="0"></iframe>
  </div>
</div>
