.adwrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ad {
  //height: 15em;
  //background-color: black;
  //margin: 1em;
  //flex: 1;
  //width: 300px;
  //max-width: 250px;
}
