/**
 * Images
 */
 .photo {
     width: 100%;
     height: 40vh;
     margin: 0 auto 20px;
     box-shadow: 2px 3px 10px black;
     background-position: center 30%;
     background-repeat: no-repeat;
     background-size: cover;
 }


.drag-background {
  background-image: url($baseurl + '/assets/img/background.jpg');
}

.heavy-twins {
  background-image: url($baseurl + '/assets/img/f9heavytwins.jpg');
}
